.card {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
    left: -30px;
    
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    overflow: hidden;
    position: relative;
}

.card-inner {
    width: 380px;
    height: 80px;

    background-color: #2c2b3c;
    border-radius: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    z-index: 99;
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.card-image {
    width: 120%;

    z-index: -1;
    padding: 0%;
    margin-left: -5%;
    margin-top: -5%;

    filter: blur(4px) brightness(70%);
}

.thumbnail-con img {
    width: 100%;
    margin-left: 60px;
    /*mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);*/
}

.thumbnail-con {
    width: 60%;
    height: 160%;

    clip-path: polygon(60% 0, 100% 0, 100% 100%, 20% 100%);

    z-index: -1;
    padding: 0%;
    margin-left: 55%;
    margin-top: -72px;
}

.fade-out-con {
    width: 60%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    padding: 0;
    z-index: 1;
    margin-left: 35%;

}

.fade-out-con img {
    width: 110%;
    height: 110%;
    margin-left: 90px;
    margin-top: -0.5px;

    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%);
}

.card-title {
    font-size: 1.1em;
}

.card-hitbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    z-index: 1000;
}

.load-text {
    text-align: center;
    font-size: 4em;
    text-shadow: 0 0 2px #ffffff1b, 0 0 3px #ffffff1b, 0 0 7px #fffff01b, 0 0 15px #ffffff1b, 0 0 20px #ffffff1b;
}

.bloom-deg1 {
    text-shadow: 0 0 2px #ffd7003d, 0 0 3px #ffd7003d, 0 0 7px #ffd700aa, 0 0 15px #ffd700, 0 0 20px #ffd700;
    color: #ffe032;
}
.bloom-deg2 {
    text-shadow: 0 0 2px #c0c0c03d, 0 0 3px #c0c0c03d, 0 0 7px #c0c0c03d, 0 0 15px #c0c0c03d, 0 0 20px #c0c0c0aa;
    color: #dedede;
}
.bloom-deg3 {
    text-shadow: 0 0 2px #ce89463d, 0 0 3px #ce89463d, 0 0 7px #ce89463d, 0 0 15px #ce8946aa, 0 0 20px #ce8946;
    color: #dc954d;
}