section {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;

    width: calc(100vw - 470px);
    max-width: 500px;
    height: 600px;

    position: relative;
    top: 20px;
    left: 450px;

    background: #2c2c37;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.main-image {
    width: 100%;
}

.image-con {
    position: absolute;
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
    background: #1d1c29;
    box-shadow: 0 0 15px #00000088;

    border-radius: 5px;
    overflow: hidden;
}

.back-button {
    position: absolute;
    border-radius: 5px;
    top: -5px;
    left: -5px;
    width: 70px;
    height: 30px;
    font-size: 0.8em;

    background: #1d1c29;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);

    transition: all 0.25s ease-in-out;
}

.back-button:hover {
    background: #272536;
}

.info-sec {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 11px;

    width: 90%;
    height: 50%;
    margin-top: 59%;
    margin-left: 5%;
}

.info-sec div {
    width: 100%;
    height: 100%;
}

.victor-title {
    font-size: 1.3em;
}

.right-div {
    text-align: right;
}

.image-overlay {
    clip-path: polygon(38px 0, 100% 0, 100% 100%, 0 100%, 0 38px);
    position: absolute;
    background: #1d1c29;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

    width: 22%;
    height: 36%;
    bottom: -2px;
    right: -2px;
    display: flex;
    justify-content: right;
    align-items: last baseline;
    z-index: 4;
}

.image-overlay img {
    width: 76%;
    margin-right: 7px;
    margin-bottom: 5px;
    z-index: 5;

    filter: drop-shadow(0 0 3px #c0c0c0aa);
}

.title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.32em;
    background: #1d1c29;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    z-index: 3;

    width: 78%;
    height: 1.34em;
    text-wrap: nowrap;
    mask-image: linear-gradient(to right, #1d1c29 80%, rgba(29, 28, 41, 0));
}
.title-overlay b {
    margin-left: 10px;
}
.title-overlay-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.32em;
    background: #1d1c29;
    z-index: 1;

    width: 100%;
    height: 1.34em;
}

.description {
    position: absolute;
    width: 45%;
    bottom: 5px;
}

@media only screen and (max-width: 500px){
    section {
        display: none;
        left: 10px;
        width: 413px;
    }
}